<section class="ui inverted vertical segment h-110 mb-32"></section>
<section class="max-w-1640 mx-auto">
    <div class="ui raised segment mb-20 pl-140 pr-140 pb-32 bg-gray-100">
        <div class="border-bottom border-2 border-primary-orange mb-36 pt-28">
            <p class="text-30 text-primary-blue-600">REQUEST ACCESS</p>
        </div>
        <p class="text-20 mb-0">
            The Access Request platform allows you view what access is needed for resource in USPTO environment.
            Some accounts might be subject to an approval chain before you are granted and are able to connect to the
            applications or environments.
            Additional features include ability to view all the applications and environments user information to gain
            access as well as links associated with the application.
        </p>
        <p class="text-20">
            Access request allows you to request the following types of items:
        </p>
        <div class="mt-24">
            <ul class="text-20 text-primary-blue-600 unstyle pl-16">
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Application access request
                </li>
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Access Profile</li>
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Contact information to make
                    the request</li>
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Links to the application
                </li>
            </ul>
        </div>
    </div>

    <div class="ui grid">
        <div class="two column row">
            <div class="eleven wide column">
                <div class="ui raised segment bg-gray-100 mb-20 pr-40 pl-40 pt-28 pb-40">
                    <div class="border-bottom border-2 border-blue-600">
                        <h1 class="font-normal text-primary-blue-600">
                            <i class="text-primary-orange user circle icon"></i>
                            User Profile
                        </h1>
                    </div>
                    <div>
                        <form class="ui form mt-20">
                            <div class="two fields">
                                <div class="field huge">
                                    <label>First Name</label>
                                    <input class="rounded-0" class="rounded-0" placeholder="First Name" name="name"
                                        type="text">
                                </div>
                                <div class="field huge">
                                    <label>Last Name</label>
                                    <input class="rounded-0" class="rounded-0" placeholder="Last Name" name="name"
                                        type="text">
                                </div>
                            </div>
                            <div class="field huge">
                                <label>Email Address</label>
                                <input class="rounded-0" class="rounded-0" placeholder="Enter Email" name="email"
                                    type="email">
                            </div>
                            <div class="field huge">
                                <label>Phone Number</label>
                                <input class="rounded-0" class="rounded-0" placeholder="Phone Number" name="contact">
                            </div>
                            <div class="field huge">
                                <label>Do you have IT East & IT West account?</label>
                                <input class="rounded-0" class="rounded-0" placeholder="If Yes, Provide ID Number"
                                    name="contact">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="ui raised segment mb-20 pr-40 pl-40 pt-40 pb-40">
                    <div class="text-center">
                        <button class="ui huge button mt-16 mb-16 text-white pl-75 pr-75 mr-12">
                            <p class="text-20 font-normal">Preview your selection</p>
                        </button>
                        <button class="ui huge button mt-16 mb-16 text-white pl-75 pr-75">
                            <p class="text-20 font-normal">Refresh</p>
                        </button>
                    </div>
                </div>
            </div>

            <div class="five wide column">
                <div class="ui raised segment mb-20 pt-28 pl-32 pr-32 pb-50">
                    <div class="border-bottom border-2 border-blue-600">
                        <h1 class="font-normal text-primary-blue-600">
                            <i class="text-primary-orange cogs icon"></i>
                            Resource Link
                        </h1>
                    </div>

                    <div class="ui card mt-32 rounded-0 w-100 border border-2 border-blue-400 box-shadow-0 ">
                        <div></div>
                        <div
                            class="bg-primary-blue-400 text-white pt-6 pb-6 d-flex align-items-center justify-content-center">
                            <i class="icon images huge text-50"></i>
                            <h2 class="header ml-24 font-normal mt-0">How to Reference</h2>
                        </div>
                        <div class="pl-24 pr-24 pt-24 pb-24">
                            <div class="ui relaxed divided list text-20">
                                <div class="item pb-0">
                                    <i class="file alternate outline text-primary-blue-400  icon aligned"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Introduction into Apache Spark and Apache Zeppelin</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="file alternate outline text-primary-blue-400  icon aligned"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Apache Spark - Install Apache Spark On Windows 10</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="file alternate outline text-primary-blue-400  icon aligned"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">How to Install and Run PySpark in Jupyter Notebook on Windows</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="file alternate outline text-primary-blue-400  icon aligned"></i>
                                    <div class="content">
                                        <div class="">
                                            <a class="text-primary-blue-400 text-underline">Zeppelin Build and Tutorial Notebook</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-right">
                                <div class="d-inline-flex align-items-center text-primary-blue-200">
                                    <p class="text-20 text-underline mb-0 mt-4">Read More</p>
                                    <i class="icon chevron right"></i>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ui card mt-32 rounded-0 w-100 border border-2 border-primary-orange box-shadow-0 ">
                        <div></div>
                        <div
                            class="bg-primary-orange text-white pt-6 pb-6 d-flex align-items-center justify-content-center">
                            <i class="icon play circle outline huge text-50"></i>
                            <h2 class="header ml-24 font-normal mt-0">Tutorial Videos</h2>
                        </div>
                        <div class="pl-24 pr-24 pt-24 pb-24">
                            <div class="ui relaxed divided list text-20">
                                <div class="item pb-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Install Kibana 7.9.1 on Windows 10. Elastic search Tutorial how to install Kibana (ELK Stack)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Hive Tutorial for Beginners | Hive Architecture | Hadoop Hive Tutorial | Hadoop Training | Edureka</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">How to Install Jupyter Notebook on Windows 10 | How to install Python and Jupyter notebook</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Apache Zeppelin | Step-by-Step Installation Guide | Python | Notebook | DM | DataMaking | Data Making</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="">
                                            <a class="text-primary-blue-400 text-underline">Hive Tutorial | Hive Architecture | Haddop For Beginners | Big Data For Beginners | Great Learning</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>