<section class="ui inverted vertical segment h-110 mb-32"></section>
<section class="max-w-1640 mx-auto">
    <div class="ui raised segment mb-20 pl-140 pr-140 pb-32 bg-gray-100">
        <div class="border-bottom border-2 border-primary-orange mb-36 pt-28">
            <p class="text-30 text-primary-blue-600">REQUEST ACCESS</p>
        </div>
        <p class="text-20 mb-0">
            The Access Request platform allows you view what access is needed for resource in USPTO environment.
            Some accounts might be subject to an approval chain before you are granted and are able to connect to the
            applications or environments.
            Additional features include ability to view all the applications and environments user information to gain
            access as well as links associated with the application.
        </p>
        <p class="text-20">
            Access request allows you to request the following types of items:
        </p>
        <div class="mt-24">
            <ul class="text-20 text-primary-blue-600 unstyle pl-16">
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Application access request
                </li>
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Access Profile</li>
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Contact information to make
                    the request</li>
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Links to the application
                </li>
            </ul>
        </div>
    </div>

    <div class="ui grid">
        <div class="two column row">
            <div class="ten wide column">
                <div class="ui raised segment bg-gray-100 mb-20 pr-40 pl-40 pt-40 pb-40">
                    <div class="border-bottom border-2 border-blue-600">
                        <h1 class="font-normal text-primary-blue-600">
                            <i class="text-primary-orange user circle icon"></i>
                            User Profile
                        </h1>
                    </div>
                    <div>
                        <form class="ui form mt-20">
                            <div class="two fields">
                                <div class="field huge">
                                    <label>First Name</label>
                                    <input class="rounded-0" class="rounded-0" placeholder="First Name" name="name"
                                        type="text">
                                </div>
                                <div class="field huge">
                                    <label>Last Name</label>
                                    <input class="rounded-0" class="rounded-0" placeholder="Last Name" name="name"
                                        type="text">
                                </div>
                            </div>
                            <div class="field huge">
                                <label>Email Address</label>
                                <input class="rounded-0" class="rounded-0" placeholder="Enter Email" name="email"
                                    type="email">
                            </div>
                            <div class="field huge">
                                <label>Phone Number</label>
                                <input class="rounded-0" class="rounded-0" placeholder="Phone Number" name="contact">
                            </div>
                            <div class="field huge">
                                <label>Do you have IT East & IT West account?</label>
                                <input class="rounded-0" class="rounded-0" placeholder="If Yes, Provide ID Number"
                                    name="contact">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="ui raised segment mb-20">
                    <div class="border-bottom border-blue-600">
                        <h1 class="font-normal text-primary-blue-600">
                            <i class="text-primary-orange cogs icon"></i>
                            Resource Link
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>