<section class="ui inverted vertical segment h-110 mb-32"></section>
<section class="max-w-1640 mx-auto">
    <div class="ui raised segment mb-20 pl-140 pr-140 pb-32 bg-gray-100">
        <div class="border-bottom border-2 border-primary-orange mb-36 pt-28">
            <p class="text-30 text-primary-blue-600">REQUEST ACCESS</p>
        </div>
        <p class="text-20 mb-0">
            The Access Request platform allows you view what access is needed for resource in USPTO environment.
            Some accounts might be subject to an approval chain before you are granted and are able to connect to the
            applications or environments.
            Additional features include ability to view all the applications and environments user information to gain
            access as well as links associated with the application.
        </p>
        <p class="text-20">
            Access request allows you to request the following types of items:
        </p>
        <div class="mt-24">
            <ul class="text-20 text-primary-blue-600 unstyle pl-16">
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Application access request
                </li>
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Access Profile</li>
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Contact information to make
                    the request</li>
                <li class="mb-10"><i class="text-primary-orange check icon small mr-12"></i>Links to the application
                </li>
            </ul>
        </div>
    </div>

    <div class="ui grid">
        <div class="two column row">
            <div class="eleven wide column">
                <div class="ui raised segment bg-gray-100 mb-20 pr-40 pl-40 pt-28 pb-40">
                    <div class="border-bottom border-blue-600">
                        <h1 class="font-normal text-primary-blue-600  mb-4">
                            <i class="text-primary-orange user circle icon"></i>
                            User Profile
                        </h1>
                    </div>
                    <div>
                        <form class="ui form mt-20">
                            <div class="two fields">
                                <div class="field huge">
                                    <label class="text-primary-blue-600">First Name*</label>
                                    <input class="rounded-0" class="rounded-0" placeholder="First Name" name="name"
                                        type="text">
                                </div>
                                <div class="field huge">
                                    <label class="text-primary-blue-600">Last Name*</label>
                                    <input class="rounded-0" class="rounded-0" placeholder="Last Name" name="name"
                                        type="text">
                                </div>
                            </div>
                            <div class="field huge">
                                <label class="text-primary-blue-600">Email Address*</label>
                                <input class="rounded-0" class="rounded-0" placeholder="Enter Email" name="email"
                                    type="email">
                            </div>
                            <div class="field huge">
                                <label class="text-primary-blue-600">Phone Number*</label>
                                <input class="rounded-0" class="rounded-0" placeholder="Phone Number" name="contact">
                            </div>
                            <div class="field huge">
                                <label class="text-primary-blue-600">Do you have IT East & IT West account?</label>
                                <input class="rounded-0" class="rounded-0" placeholder="If Yes, Provide ID Number"
                                    name="contact">
                            </div>
                        </form>
                    </div>
                </div>

          

                <div class="ui raised segment bg-gray-100 mb-20 pr-40 pl-40 pt-28 pb-40">
                    <div class="border-bottom border-blue-600">
                        <h2 class="font-normal text-primary-blue-600 mb-4">
                            <i class="text-primary-orange wrench icon"></i>
                            Request Access to Tools and Environments
                        </h2>
                    </div>

                    <div class="mt-20">
                        <div>
                            <div
                                class="d-flex align-items-center justify-content-between bg-primary-blue-400 pr-12 pl-24 pt-12 pb-12">
                                <div class="ui checkbox center d-flex align-items-center">
                                    <input type="checkbox" name="x-large">
                                    <label class="text-white text-20">Kibana</label>
                                </div>
                                <div class="ui dropdown simple text-white">
                                    <h4 class="border-bottom border-gray-200 mb-0 font-normal">
                                        Production
                                        <i class="dropdown icon mb-10 ml-20"></i>
                                    </h4>
                                    <div class="menu">
                                        <div class="item">Production</div>
                                        <div class="item">Deployment</div>
                                        <div class="item">Development</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui grid no-gutters pb-24">
                                <div class="two column row pt-20">
                                    <div class="two wide column text-center pr-0 pl-0">
                                        <img src="../../../assets/images/home/overview.JPG" />
                                    </div>
                                    <div class="fourteen wide column text-20 text-brow pr-75">
                                        Kibana dashboard is an open source analytics and visualization platform designed
                                        to work with elasticsearch. Kibana gives the ability to search, view, and
                                        interact with data stored in elasticsearch indices. This software supports
                                        advanced data analysis and visualization of data in a variety of charts, tables,
                                        and maps. Kibana interfaces with large amounts of data in a simple browser-based
                                        interface, which quickly creates and shares dynamic dashboards that display
                                        changes to elasticsearch queries in real time.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div
                                class="d-flex align-items-center justify-content-between bg-primary-blue-400 pr-12 pl-24 pt-12 pb-12">
                                <div class="ui checkbox center d-flex align-items-center">
                                    <input type="checkbox" name="x-large">
                                    <label class="text-white text-20">SparkMonitor</label>
                                </div>
                                <div class="ui dropdown simple text-white">
                                    <h4 class="border-bottom border-gray-200 mb-0 font-normal">
                                        Production
                                        <i class="dropdown icon mb-10 ml-20"></i>
                                    </h4>
                                    <div class="menu">
                                        <div class="item">Production</div>
                                        <div class="item">Deployment</div>
                                        <div class="item">Development</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui grid no-gutters pb-24">
                                <div class="two column row pt-20">
                                    <div class="two wide column text-center pr-0 pl-0">
                                        <img src="../../../assets/images/home/overview.JPG" />
                                    </div>
                                    <div class="fourteen wide column text-20 text-brown pr-75">
                                        SparkMonitor is an extension for Jupyter Notebook that enables the live
                                        monitoring of Apache Spark Jobs spawned from a notebook. The extension provides
                                        several features to monitor and debug a Spark job from within the notebook
                                        interface itself.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div
                                class="d-flex align-items-center justify-content-between bg-primary-blue-400 pr-12 pl-24 pt-12 pb-12">
                                <div class="ui checkbox center d-flex align-items-center">
                                    <input type="checkbox" name="x-large">
                                    <label class="text-white text-20">Zeppelin</label>
                                </div>
                                <div class="ui dropdown simple text-white">
                                    <h4 class="border-bottom border-gray-200 mb-0 font-normal">
                                        Production
                                        <i class="dropdown icon mb-10 ml-20"></i>
                                    </h4>
                                    <div class="menu">
                                        <div class="item">Production</div>
                                        <div class="item">Deployment</div>
                                        <div class="item">Development</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui grid no-gutters pb-24">
                                <div class="two column row pt-20">
                                    <div class="two wide column text-center pr-0 pl-0">
                                        <img src="../../../assets/images/home/overview.JPG" />
                                    </div>
                                    <div class="fourteen wide column text-20 text-brown pr-75">
                                        Apache Zeppelin is an open source web-based tool that enables interactive data
                                        analytics that will be deployed in the BDR architecture for data ingestion, data
                                        exploration, visualization, sharing and collaboration features to Hadoop and
                                        Spark.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div
                                class="d-flex align-items-center justify-content-between bg-primary-blue-400 pr-12 pl-24 pt-12 pb-12">
                                <div class="ui checkbox center d-flex align-items-center">
                                    <input type="checkbox" name="x-large">
                                    <label class="text-white text-20">Hive</label>
                                </div>
                                <div class="ui dropdown simple text-white">
                                    <h4 class="border-bottom border-gray-200 mb-0 font-normal">
                                        Production
                                        <i class="dropdown icon mb-10 ml-20"></i>
                                    </h4>
                                    <div class="menu">
                                        <div class="item">Production</div>
                                        <div class="item">Deployment</div>
                                        <div class="item">Development</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui grid no-gutters pb-24">
                                <div class="two column row pt-20">
                                    <div class="two wide column text-center pr-0 pl-0">
                                        <img src="../../../assets/images/home/overview.JPG" />
                                    </div>
                                    <div class="fourteen wide column text-20 text-brown pr-75">
                                        Apache Hive is a data warehouse software project built on top of Apache Hadoop
                                        for providing data summarization, query, and analysis. Hive gives an SQL-like
                                        interface to query data stored in various databases and file systems that
                                        integrate with Hadoop. Traditional SQL queries must be implemented in the
                                        MapReduce Java API to execute SQL applications and queries over distributed
                                        data. Hive provides the necessary SQL abstraction to integrate SQL-like queries
                                        (HiveQL) into the underlying Java without the need to implement queries in the
                                        low-level Java API. Since most data warehousing applications work with SQL-based
                                        querying languages, Hive aids portability of SQL-based applications to Hadoop.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div
                                class="d-flex align-items-center justify-content-between bg-primary-blue-400 pr-12 pl-24 pt-12 pb-12">
                                <div class="ui checkbox center d-flex align-items-center">
                                    <input type="checkbox" name="x-large">
                                    <label class="text-white text-20">Jupyter Notebook</label>
                                </div>
                                <div class="ui dropdown simple text-white">
                                    <h4 class="border-bottom border-gray-200 mb-0 font-normal">
                                        Production
                                        <i class="dropdown icon mb-10 ml-20"></i>
                                    </h4>
                                    <div class="menu">
                                        <div class="item">Production</div>
                                        <div class="item">Deployment</div>
                                        <div class="item">Development</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui grid no-gutters pb-24">
                                <div class="two column row pt-20">
                                    <div class="two wide column text-center pr-0 pb-0">
                                        <img src="../../../assets/images/home/overview.JPG" />
                                    </div>
                                    <div class="fourteen wide column text-20 text-brown pr-75">
                                        Jupyter Notebook is an open-source web application that allows you to create and
                                        share documents that contain live code, equations, visualizations and narrative
                                        text. Uses include: data cleaning and transformation, numerical simulation,
                                        statistical modeling, data visualization, machine learning, and much more.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="ui raised segment bg-gray-100 mb-20 pr-40 pl-40 pt-28 pb-40">
                    <div class="border-bottom border-blue-600">
                        <h2 class="font-normal text-primary-blue-600 mb-4">
                            <i class="text-primary-orange cogs icon"></i>
                            Request Access to Business Applications
                        </h2>
                    </div>

                    <div class="mt-20">
                        <div>
                            <div class="bg-primary-blue-500 pr-12 pl-24 pt-12 pb-12">
                                <div class="ui checkbox center d-flex align-items-center">
                                    <input type="checkbox" name="portal">
                                    <label class="text-white text-20">BDR Portal</label>
                                </div>
                            </div>
                            <div class="ui grid no-gutters pb-24">
                                <div class="two column row pt-20">
                                    <div class="two wide column text-center pr-0 pl-0">
                                        <img src="../../../assets/images/home/overview.JPG" />
                                    </div>
                                    <div class="fourteen wide column text-20 text-brown pr-50">
                                        A model that applies Natural Language Processing, Information Extraction, Entity
                                        Recognition and Resolution, along with structural information and institutional
                                        knowledge, to extract various features from an office action by deep analysis of
                                        the document text. Machine learning algorithms are then used to train different
                                        regression/predictive models, guided by rich information from Master Review
                                        Forms (MRF). These models are adopted in the pipeline to detect different
                                        rejections and give clarity scores on 102 and 103 rejections, along with other
                                        interesting traits to any incoming office actions.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="bg-primary-blue-500 pr-12 pl-24 pt-12 pb-12">
                                <div class="ui checkbox center d-flex align-items-center">
                                    <input type="checkbox" name="PTAB">
                                    <label class="text-white text-20">PTAB</label>
                                </div>
                            </div>
                            <div class="ui grid no-gutters pb-24">
                                <div class="two column row pt-20">
                                    <div class="two wide column text-center pr-0 pl-0">
                                        <img src="../../../assets/images/home/overview.JPG" />
                                    </div>
                                    <div class="fourteen wide column text-20 text-brown pr-40">
                                        <div class="ui bulleted list">
                                            <div class="item text-20 mb-24">Leveraging Apache Nifi, BDR Data pipelines
                                                bring the Data
                                                from PTAB AIA Trials, Appeals and Interference Databases, and store in
                                                the HIVE landing tables. As part of the Data pipelines, BDR uses OPSG
                                                APIs to bring additional metadata needed the Appeals. Once the data is
                                                fetched from multiple sources, pipelines bring the documents from
                                                Alfresco. If the document is decision, then it uses TIKA to extract the
                                                text from PDFs, and derive the board rulings and issue types.
                                            </div>
                                            <div class="item text-20 mb-24">
                                                After the business rules are applied to map the decision types and
                                                push the data to SOLR and Elastic Search. APIs and UIs are developed
                                                to present the data available in SOLR and Elastic Search.</div>
                                            <div class="item text-20">
                                                <div><strong> High Level Capabilities:</strong></div>
                                                <div class="mt-16 pr-4">
                                                    <div class="d-flex align-items-start">
                                                        <i class="caret right icon text-primary-orange mr-16 ml-4"></i>
                                                        <p class="">
                                                            Full Text Search capabilities for all the Decision
                                                            Documents. BDR process extracts the text from the Decision
                                                            Documents and make the text searchable.
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-start">
                                                        <i class="caret right icon text-primary-orange mr-16 ml-4"></i>
                                                        <p class="">
                                                            From the PDFs, we extract the Board Rulings, Issue Types
                                                            (101,102,103.etc) and made them available as Facets in the
                                                            UI and the same are filterable through APIs.
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-start">
                                                        <i class="caret right icon text-primary-orange mr-12"></i>
                                                        <p class="">
                                                            Search capabilities are powered through SOLR (public) and
                                                            Elastic Search (Internal).
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-start">
                                                        <i class="caret right icon text-primary-orange mr-12"></i>
                                                        <p class="">
                                                            Data available in BDR can be accessible through APIs and
                                                            bulk-downs.
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-start">
                                                        <i class="caret right icon text-primary-orange mr-12"></i>
                                                        <p class="">
                                                            Leverage BDR’s Data Science platform, data scientists can
                                                            build the insights on the data available in the BDR.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="bg-primary-blue-500 pr-12 pl-24 pt-12 pb-12">
                                <div class="ui checkbox center d-flex align-items-center">
                                    <input type="checkbox" name="TQR">
                                    <label class="text-white text-20">TQR</label>
                                </div>
                            </div>
                            <div class="ui grid no-gutters pb-24">
                                <div class="two column row pt-20">
                                    <div class="two wide column text-center pr-0 pl-0">
                                        <img src="../../../assets/images/home/overview.JPG" />
                                    </div>
                                    <div class="fourteen wide column text-20 text-brown pr-75">
                                        <div class="ui bulleted list">
                                            <div class="item text-20 mb-24">Leveraging Apache Nifi, BDR Data pipelines retrieves the Data from TRM and FAST2 databases, and store in the HIVE landing tables. As part of the Data pipelines, BDR uses RBAC and TMNG CMS REST services to retrieve lawcode and Mark images. After the business rules are applied pushes the data to Elastic Search. APIs and UIs are developed to present the data available in Elastic Search.
                                            </div>
                                            <div class="item text-20">
                                                <div><strong> High Level Capabilities:</strong></div>
                                                <div class="mt-16">
                                                    <div class="d-flex align-items-start">
                                                        <i class="caret right icon text-primary-orange mr-16 ml-4"></i>
                                                        <p class="">
                                                            BDR-TQR retrieves SOU and PUBs metadata information from TRM Oracle database and First OA and Final OA metadata from FAST Oracle database. 
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-start">
                                                        <i class="caret right icon text-primary-orange mr-12"></i>
                                                        <p class="">
                                                            It retrieves lawcode from RBAC and Mark images from TMNG CMS REST service.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="bg-primary-blue-500 pr-12 pl-24 pt-12 pb-12">
                                <div class="ui checkbox center d-flex align-items-center">
                                    <input type="checkbox" name="CPC">
                                    <label class="text-white text-20">CPC</label>
                                </div>
                            </div>
                            <div class="ui grid no-gutters pb-24">
                                <div class="two column row pt-20">
                                    <div class="two wide column text-center pr-0 pl-0">
                                        <img src="../../../assets/images/home/overview.JPG" />
                                    </div>
                                    <div class="fourteen wide column text-20 text-brown pr-50">
                                        <div class="ui bulleted list">
                                            <div class="item text-20 mb-24">
                                                Users can place input .csv file by using SFTP, which contains number of application IDs. By using this input file BDR AI API gets the contractor data from the CPC Oracle DB and machine data from the BDR AI for corresponding application IDs and stores the data in two csv files. Users can compare contractor data and machine data, by giving application ID in the CPC WEB.
                                            </div>
                                            <div class="item text-20 mb-24">
                                                There is separate batch process for cpccode, cstar and cpccode-cstar to generate .csv files for Machine data and Contractor data. 
                                            </div>
                                            <div class="item text-20">
                                                AI-API directly connects with CPC Oracle DB to get the contractor data on the server 
                                                <a class="text-underline">jdbc:oracle:thin:@//das-gds.uspto.gov:1610/cpcprod_reporting_gds.cpc_prod.oradbcloud.</a>
                                                To get the Machine Data, AI-API connects to Lucene model. For this model, the Lucene indexes and model files are located in the location data/oa/cpc. BDR AI-API also interface with PATI-CDC to get Meta data.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="ui raised segment mb-20 pr-40 pl-40 pt-40 pb-40">
                    <div class="text-center">
                        <button class="ui huge button mt-16 mb-16 text-white pl-75 pr-75 mr-12">
                            <p class="text-20 font-normal">Preview your selection</p>
                        </button>
                        <button class="ui huge button mt-16 mb-16 text-white pl-75 pr-75">
                            <p class="text-20 font-normal">Refresh</p>
                        </button>
                    </div>
                </div>
            </div>

            <div class="five wide column">
                <div class="ui raised segment mb-20 pt-28 pl-32 pr-32 pb-50">
                    <div class="border-bottom border-blue-600">
                        <h1 class="font-normal text-primary-blue-600 mb-4">
                            <i class="text-primary-orange cogs icon"></i>
                            Resource Link
                        </h1>
                    </div>

                    <div class="ui card mt-32 rounded-0 w-100 border border-2 border-blue-400 box-shadow-0 ">
                        <div></div>
                        <div
                            class="bg-primary-blue-400 text-white pt-6 pb-6 d-flex align-items-center justify-content-center">
                            <i class="icon images huge text-50"></i>
                            <h2 class="header ml-24 font-normal mt-0">How to Reference</h2>
                        </div>
                        <div class="pl-24 pr-24 pt-24 pb-24">
                            <div class="ui relaxed divided list text-20">
                                <div class="item pb-0">
                                    <i class="file alternate outline text-primary-blue-400  icon aligned"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Introduction into Apache
                                                Spark and Apache Zeppelin</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="file alternate outline text-primary-blue-400  icon aligned"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Apache Spark - Install
                                                Apache Spark On Windows 10</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="file alternate outline text-primary-blue-400  icon aligned"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">How to Install and Run
                                                PySpark in Jupyter Notebook on Windows</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="file alternate outline text-primary-blue-400  icon aligned"></i>
                                    <div class="content">
                                        <div class="">
                                            <a class="text-primary-blue-400 text-underline">Zeppelin Build and Tutorial
                                                Notebook</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-right">
                                <div class="d-inline-flex align-items-center text-primary-blue-200">
                                    <p class="text-20 text-underline mb-0 mt-4">Read More</p>
                                    <i class="icon chevron right"></i>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ui card mt-32 rounded-0 w-100 border border-2 border-primary-orange box-shadow-0 ">
                        <div></div>
                        <div
                            class="bg-primary-orange text-white pt-6 pb-6 d-flex align-items-center justify-content-center">
                            <i class="icon play circle outline huge text-50"></i>
                            <h2 class="header ml-24 font-normal mt-0">Tutorial Videos</h2>
                        </div>
                        <div class="pl-24 pr-24 pt-24 pb-24">
                            <div class="ui relaxed divided list text-20">
                                <div class="item pb-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Install Kibana 7.9.1 on
                                                Windows 10. Elastic search Tutorial how to install Kibana (ELK
                                                Stack)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Hive Tutorial for Beginners
                                                | Hive Architecture | Hadoop Hive Tutorial | Hadoop Training |
                                                Edureka</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">How to Install Jupyter
                                                Notebook on Windows 10 | How to install Python and Jupyter notebook</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="border-bottom border-bottom-dashed border-blue-400 pb-20 mb-20">
                                            <a class="text-primary-blue-400 text-underline">Apache Zeppelin |
                                                Step-by-Step Installation Guide | Python | Notebook | DM | DataMaking |
                                                Data Making</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item border-0 pt-0">
                                    <i class="tv icon aligned text-primary-orange"></i>
                                    <div class="content">
                                        <div class="">
                                            <a class="text-primary-blue-400 text-underline">Hive Tutorial | Hive
                                                Architecture | Haddop For Beginners | Big Data For Beginners | Great
                                                Learning</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>