<section class="ui inverted vertical segment h-615">
    <div class="max-w-1640 mx-auto">
        <div class="ui text ml-140 mt-200">
            <label class="ui inverted text-50">
                Welcome to <span class="text-primary-orange">DnA Self-Service Portal</span></label>
            <p class="max-w-700 text-22 mt-24 pr-50">The portal will provide the resources listed within the DnA
                platform so that end-users are able to assess
                all available content.
                In addition, Submit your request to get instant access to our internal services and information.
            </p>
            <button class="ui massive orange primary-orange button mt-50">
                <div class="d-flex align-items-center">
                    <i class="assistive listening systems icon ml-20"></i>
                    <h3 class="mb-0 mt-0 ml-28 mr-28">REQUEST ACCESS</h3>
                    <i class="right caret icon"></i>
                </div>
            </button>
        </div>
    </div>
</section>

<section class="h-190 bg-gray-300 d-flex align-items-center justify-content-center">
    <div class="ui right labeled input action h-80 border border-gray-500 max-w-1040 w-100">
        <input type="text" placeholder="Search through the portal" class="ui large font-normal header no-gutters">
        <div class="ui dropdown simple label w-200 d-flex align-items-center justify-content-center pl-28">
            <h2 class="text mb-0">Select</h2>
            <i class="chevron down icon text-22 ml-auto"></i>
            <div class="menu">
                <div class="item">.com</div>
                <div class="item">.net</div>
                <div class="item">.org</div>
            </div>
        </div>
        <div class="ui bg-primary-blue-500 blue button justify-content-center w-140">
            <h2>Search</h2>
        </div>
    </div>
</section>

<section class="bg-white ui grid no-gutters">
    <div class="pt-100 pb-75 two column computer only row max-w-1640 w-100 mx-auto">
        <div class="eleven wide column pr-0">
            <div class="text-40">
                <!-- <img class="ui middle aligned image" width="38" src="/images/wireframe/square-image.png"> -->
                <span class="mt-0 text-primary-blue-500 ml-8"><strong>DnA</strong> Platform</span>
            </div>
            <h2 class="font-normal">Self-service portal offers information and resources to help end-users address
                common needs efficiently
                without outside assistance. Instant access to internal services and information. Users need access to
                new applications, tools , software installation or DnA resources.</h2>
            <h1 class="text-primary-blue-600 mt-40 mb-32">Benefits of the platform are as follows: </h1>
            <ul class="text-20 text-primary-blue-600 unstyle pl-40">
                <li class="mb-16"><i class="text-primary-blue-500 check icon mr-20"></i>Reduced delivery time from
                    ideation to implementation </li>
                <li class="mb-16"><i class="text-primary-blue-500 check icon mr-20"></i>Streamlined and simplified
                    access and discovery to DnA Ecosystem</li>
                <li class="mb-16"><i class="text-primary-blue-500 check icon mr-20"></i>Centralized location for
                    knowledge, training and information sharing</li>
                <li class="mb-16"><i class="text-primary-blue-500 check icon mr-20"></i>Unified catalog of next
                    generation Al/ML, BI tools and technologies</li>
            </ul>
        </div>
        <div class="six wide column">

        </div>
    </div>
</section>

<section class="ui inverted vertical segment h-400 d-flex align-items-center">
    <div class="ui four column doubling grid max-w-1640 w-100 mx-auto">
        <div class="column text-center">
            <label class="text-70 mb-4">100+</label>
            <h2 class="text-primary-blue-200 mt-6 font-normal">PROJECTS</h2>
        </div>
        <div class="column text-center">
            <label class="text-70 mb-4">50TB+</label>
            <h2 class="text-primary-blue-200 mt-6 font-normal">DATA SIZE</h2>
        </div>
        <div class="column text-center">
            <label class="text-70 mb-4">500</label>
            <h2 class="text-primary-blue-200 mt-6 font-normal">APIS</h2>
        </div>
        <div class="column text-center">
            <label class="text-70 mb-4">20+</label>
            <h2 class="text-primary-blue-200 mt-6 font-normal">APPLICATIONS</h2>
        </div>
    </div>
</section>

<section>
    <div class="text-center text-primary-blue-600">
        <p class="text-30 mt-75">PLATFORM <span class="border-bottom border-3 border-blue-500">OVERVIEW</span></p>
        <p class="mt-40 mb-100 text-20">Self-Service platform provides a much faster workflow by having a centralized
            location for end
            users to have access to below information.</p>
    </div>
    <div class="ui mx-auto max-w-1640 mb-140">
        <div class="ui vertically divided equal height stackable grid ml-40 pb-40">
            <div class="six wide column">
                <div class="d-flex pr-8">
                    <img src="../../../assets/images/home/overview.JPG" height="90" class="mr-20">
                    <div class="mt-28">
                        <h1 class="text-primary-blue-500">Data Catalog</h1>
                        <p class="mt-30">The Data Catalog platform will provide the datasets that are available within
                            out environment.
                            Within this platform, end user have the ability to view tha meta data, source information,
                            link to the source, target information as well viewing the data quality.
                        </p>
                        <div class="ui link list mt-24">
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Data Engineering</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Data Discovery</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Data Governance</u>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="d-flex pr-8">
                    <img src="../../../assets/images/home/overview.JPG" height="90" class="mr-20">
                    <div class="mt-28">
                        <h1 class="text-primary-blue-500">Service Catalog</h1>
                        <p class="mt-30">This Platform will provide view of available services and offernings managed by our organization.
                            It helps manage the services a user has access and provides ability to access the services through API. The different sources with the APIs associated to them are provided.
                        </p>
                        <div class="ui link list mt-24">
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Swagger URLs</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Sample responses</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">GET and POST methods</u>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="d-flex pr-8">
                    <img src="../../../assets/images/home/overview.JPG" height="90" class="mr-20">
                    <div class="mt-28">
                        <h1 class="text-primary-blue-500">ML Model Catalog</h1>
                        <p class="mt-30">Within the ML Modeling Catalog platform, the Machine Learning Models are provided using different algorithms.
                             End users able to discover the ML Models available within our environment in a centralized location.
                        </p>
                        <div class="ui link list mt-24">
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Machine Learning Models</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Computational Statistics</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Exploratory Data Aalysis</u>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column mt-100">
                <div class="d-flex pr-8">
                    <img src="../../../assets/images/home/overview.JPG" height="90" class="mr-20">
                    <div class="mt-28">
                        <h1 class="text-primary-blue-500">Tool integration</h1>
                        <p class="mt-30">Tools in our environment to proivde accessibility from a centralized location.
                            The platform will display the tools and the integrations with other sources.
                        </p>
                        <div class="ui link list mt-24">
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Access details</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Installation Instructions</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Purpose and usage Instructions</u>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column mt-100">
                <div class="d-flex pr-8">
                    <img src="../../../assets/images/home/overview.JPG" height="90" class="mr-20">
                    <div class="mt-28">
                        <h1 class="text-primary-blue-500">Data Science</h1>
                        <p class="mt-30">Within the Data Science platform, the end users are able to view use cases and tools for connecting to workbench and accessing the data sources.
                            End users are able to discover the Data Science resources in a centralized location.
                        </p>
                        <div class="ui link list mt-24">
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Connect to the workbench</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Access the data sources</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Discover the Data Science resources</u>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column mt-100">
                <div class="d-flex pr-8">
                    <img src="../../../assets/images/home/overview.JPG" height="90" class="mr-20">
                    <div class="mt-28">
                        <h1 class="text-primary-blue-500">ETL Catalog</h1>
                        <p class="mt-30">Extract, Transform and Load (ETL) Catalog contains the fact tables that define how the data is loaded into the target system.
                            The process combines data from multiple source into a single data store.
                        </p>
                        <div class="ui link list mt-24">
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Enables common data repository</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Allows data comparison between source and target system</u>
                            </a>
                            <a href="#" class="item mb-4 d-flex align-items-center">
                                <div class="mr-6">
                                    <i class="text-primary-orange play circle icon"></i>
                                </div>
                                <u class="text-primary-blue-600">Provides the process the data goes through before its analyzed</u>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>