<div class="ui inverted vertical segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
            Welcome to <span class="text-primary-orange">DnA Self-Service Portal</span></h1>
        <p>The portal will provide the resources listed within the DnA platform so that end-users are able to assess
            all available content.
            In addition, Submit your request to get instant access to our internal services and information.
        </p>
        <button class="ui huge orange primary-orange button"> <i class="assistive listening systems icon"></i> Request Access
            <i class="right caret icon"></i>
        </button>
    </div>
</div>