<section class="ui inverted vertical segment h-615">
    <div class="max-w-1640 mx-auto">
        <div class="ui text ml-140 mt-200">
            <label class="ui inverted text-50">
                Welcome to <span class="text-primary-orange">DnA Self-Service Portal</span></label>
            <p class="max-w-700 text-22 mt-24 pr-50">The portal will provide the resources listed within the DnA
                platform so that end-users are able to assess
                all available content.
                In addition, Submit your request to get instant access to our internal services and information.
            </p>
            <button class="ui massive orange primary-orange button mt-50">
                <div class="d-flex align-items-center">
                    <i class="assistive listening systems icon ml-20"></i>
                    <h3 class="mb-0 mt-0 ml-28 mr-28">REQUEST ACCESS</h3>
                    <i class="right caret icon"></i>
                </div>
            </button>
        </div>
    </div>
</section>

<section class="h-190 bg-gray-300 d-flex align-items-center justify-content-center">
    <div class="ui right labeled input action h-80 border border-gray-500">
        <input placeholder="Search through the portal" class="max-w-1040 w-100 ui large font-normal header" type="text">
        <div class="ui dropdown simple label w-200 d-flex align-items-center justify-content-center pl-28">
            <h2 class="text mb-0">Select</h2>
            <i class="chevron down icon text-22 ml-auto"></i>
            <div class="menu">
                <div class="item">Choice 1</div>
                <div class="item">Choice 2</div>
                <div class="item">Choice 3</div>
            </div>
        </div>
        <div class="ui primary-blue-500 blue button w-140 pl-40">
            <h2>Search</h2>
        </div>
    </div>
</section>

<section class="bg-white ui grid">
    <div class="pt-100 pb-75 two column computer only row max-w-1640 w-100 mx-auto">
        <div class="eleven wide column pr-0">
            <div class="text-40">
                <!-- <img class="ui middle aligned image" width="38" src="/images/wireframe/square-image.png"> -->
                <span class="mt-0 text-primary-blue-500 ml-8"><strong>DnA</strong> Platform</span>
            </div>
            <h2 class="font-normal">Self-service portal offers information and resources to help end-users address common needs efficiently
                without outside assistance. Instant access to internal services and information. Users need access to
                new applications, tools , software installation or DnA resources.</h2>
            <h1 class="text-primary-blue-600 mt-40 mb-32">Benefits of the platform are as follows: </h1>
            <ul class="text-20 text-primary-blue-600 unstyle pl-40">
                <li class="mb-16"><i class="text-primary-blue-500 check icon mr-20"></i>Reduced delivery time from ideation to implementation </li>
                <li class="mb-16"><i class="text-primary-blue-500 check icon mr-20"></i>Streamlined and simplified access and discovery to DnA Ecosystem</li>
                <li class="mb-16"><i class="text-primary-blue-500 check icon mr-20"></i>Centralized location for knowledge, training and information sharing</li>
                <li class="mb-16"><i class="text-primary-blue-500 check icon mr-20"></i>Unified catalog of next generation Al/ML, BI tools and technologies</li>
            </ul>
        </div>
        <div class="six wide column">

        </div>
    </div>
</section>