<footer class="ui inverted vertical footer bg-primary-blue h-400 pt-75 segment">
    <div class="ui mx-auto max-w-1640">
      <div class="ui inverted vertically divided equal height stackable grid">
        <div class="four wide column">
            <div class="left item align-self-center text-40 pb-0 pt-0">
                <!-- <img class="ui middle aligned image" width="38" src="/images/wireframe/square-image.png"> -->
                <span class="mt-0 text-primary-orange ml-8"><strong>DnA</strong> Platform</span>
            </div>
            <p class="mt-28 text-gray-400 mr-50">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header font-normal">Solutions</h2>
          <div class="ui inverted link list">
            <a href="#" class="item mb-10">Sitem mb-10ap</a>
            <a href="#" class="item mb-10">Contact Us</a>
            <a href="#" class="item mb-10">Religious Ceremonies</a>
            <a href="#" class="item mb-10">Gazebo Plans</a>
            <a href="#" class="item mb-10">Gazebo Plans</a>
          </div>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header font-normal">Products</h2>
          <div class="ui inverted link list">
            <a href="#" class="item mb-10">Pre-Order</a>
            <a href="#" class="item mb-10">DNA FAQ</a>
            <a href="#" class="item mb-10">How To Access</a>
            <a href="#" class="item mb-10">Favorite X-Men</a>
            <a href="#" class="item mb-10">Ermod tempor invidunt ut labore et Psum</a>
        </div>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header font-normal">Resources</h2>
          <div class="ui inverted link list">
            <a href="#" class="item mb-10">Ermod tempor invidunt ut labore et Psum</a>
            <a href="#" class="item mb-10">DNA FAQ</a>
            <a href="#" class="item mb-10">How To Access</a>
            <a href="#" class="item mb-10">Favorite X-Men</a>
            <a href="#" class="item mb-10">Ermod tempor invidunt ut labore et Psum</a>
        </div>
        </div>
      </div>
    </div>
</footer>