// flex common styles
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start !important;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

// margin utilities
.mt-auto {
  margin-top: auto;
}

// height utilities
.h-100 {
  height: 100%;
}
