// flex common styles

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.align-self-center{
    align-self: center;
}

.flex-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}