body {
    @extend .bg-gray-200;
}

*, body {
    //font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

.ui.secondary.inverted.menu .active.item {
    @extend .text-primary-orange;
}

// buttons
button.ui.button {
    @extend .rounded-0;
}


// list 
ul.unstyle {
    list-style: none;
}

// header 
.ui.header.no-gutters:first-child {
    @extend .mt-0;
}

// input = checkbox
.ui.checkbox.center label:before {
    margin: auto;
    bottom: 0;
}

.ui.checkbox input:checked~label:after {
    @extend .text-primary-blue-200;
}