// Primary Scale
$u-black: #1B1C1D;
$u-blue-600: #004673;
$u-blue-500: #005EA2;
$u-blue-400: #207EA0;
$u-blue-200: #209CDE;
$u-orange: #FF7F00;
$u-red: #A6192E;

// Gray Scale Palatte
$u-white: #ffffff;
$u-gray-100: #F6F6F6;
$u-gray-200: #E3E3E3;
$u-gray-300:  #E8E8EB;
$u-gray-400: #D8D8D8;
$u-gray-500: #A5A3A3;
$u-gray-600: #808080;
$u-gray-800: #555555;
$u-gray-1000: #333333;
$u-gray-1200: #222222;

// Red Scale
$u-red-500: #DB2828;

// Orange Scale
$u-orange-500: #F2711C;

// Yellow Scale
$u-yellow-500: #FBBD08;

// Olive Scale
$u-olive-500: #B5CC18;

// Green Scale
$u-green-500: #21BA45;

// Teal Scale
$u-teal-500: #00B5AD;

// Blue Scale
$u-blue-500: #2185D0;
