// Default 4 mutliples paddings and margins  e.g, mt-24 or pb-20 etc
$spaceamounts: (0, 4, 6, 8, 10, 12, 16, 20, 24, 28, 32, 36, 40, 50, 75, 100, 140); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: toRem($space) !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: toRem($space) !important;
    }
  }
}

//margin related utilities add here
.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.mx-auto{
    @extend .ml-auto;
    @extend .mr-auto;
}

.my-auto{
    @extend .mt-auto;
    @extend .mb-auto;
}

.mt-200 {
    margin-top: 12.5rem;
}

.no-gutters {
  @extend .mt-0;
  @extend .mb-0;
  @extend .mr-0;
  @extend .ml-0;
}

//padding related utilities add here
