.text-20 {
    font-size: 1.25rem;
}

.text-22 {
    font-size: 1.375rem !important;
}

.text-30 {
    font-size: 1.875rem;
}

.text-40 {
    font-size: 2.5rem;
}

.text-50 {
    font-size: 3.125rem;
}

.text-70 {
    font-size: 4.375rem;
}

// alignment
.text-center {
    text-align: center;
}


// font weight
.font-normal {
    font-weight: normal  !important;
}