// Bg Utilities
.bg-primary-orange {
  background-color: $u-orange !important;
}

.bg-primary-blue {
  background-color: $u-blue-600 !important;
}

.bg-primary-blue-400 {
  background-color: $u-blue-400 !important;
}

.bg-primary-blue-500 {
  background-color: $u-blue-500 !important;
}

.bg-gray-100 {
    background-color: $u-gray-100 !important;
}

.bg-gray-200 {
  background-color: $u-gray-200;
}

.bg-gray-300 {
  background-color: $u-gray-300;
}

.bg-gray-400 {
  background-color: $u-gray-400;
}

.bg-gray-450 {
  background-color: $u-gray-450;
}

.bg-white {
  background-color: $u-white !important;
}

// text utilities
.text-primary-orange {
  color: $u-orange !important;
}

.text-primary-blue-200 {
  color: $u-blue-200 !important;
}

.text-primary-blue-400 {
  color: $u-blue-400 !important;
}

.text-primary-blue-500 {
  color: $u-blue-500 !important;
}

.text-primary-blue-600 {
  color: $u-blue-600 !important;
}

.text-gray-400 {
  color: $u-gray-400 !important;
}

.text-white {
  color: $u-white !important;
}

.text-brown {
  color: $u-brown-500 !important;
}

// button classes
.ui.button {
  @extend .bg-gray-450;
}

.ui.button.primary-orange,
.ui.buttons.primary-orange .button {
  background-color: $u-orange;
}

.ui.button.primary-blue-500,
.ui.buttons.primary-blue-500 .button {
  background-color: $u-blue-500 !important;
}

// border utilities
.border-bottom {
  border-bottom: 0.0625rem solid $u-white;
}

.border-right {
  border-right: 0.0625rem solid $u-white;
}

.border-gray-200 {
  border-color: $u-gray-200;
}

.border-gray-500 {
  border-color: $u-gray-500;
}

.border-blue-400 {
  &, &.border{
    border-color: $u-blue-400 !important;
  }
}

.border-blue-500 {
  border-color: $u-blue-500;
}

.border-blue-600 {
    border-color: $u-blue-600;
}

.border-primary-orange {
  &, &.border {
    border-color: $u-orange !important;
  }
}

.border-0 {
  border: none !important;
}

.border {
  border: 0.0625rem solid $u-white !important;
}

.border-2 {
    border-width: 2px !important;
}

.border-3 {
    border-width: 3px;
}

.border-bottom-dashed {
  border-bottom-style: dashed !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
