<header class="h-100px ui large secondary inverted pointing menu bg-primary-blue pl-20 pr-20">
    <div class="mx-auto max-w-1640 w-100 d-flex align-items-center flex-wrap">
        <div class="left item align-self-center text-30 pb-0 pt-0">
            <strong class="pr-12 border-right mb-0">uspto</strong>
            <!-- <img class="ui middle aligned image pl-12" width="38" src="/images/wireframe/square-image.png"> -->
            <span class="mt-0 text-primary-orange ml-8"><strong>DnA</strong> Platform</span>
        </div>
        <div class="right menu text-primary-orange text-22">
            <a class="item" routerLink="home" routerLinkActive="active">
                Home
            </a>
            <a class="item" routerLink="request-access" routerLinkActive="active">
                Request Access
            </a>
            <a class="item" routerLink="connect" routerLinkActive="active">
                Connect to Data
            </a>
            <a class="item" routerLink="check-status" routerLinkActive="active">
                Check Request Status
            </a>
            <a class="item" routerLink="system-status" routerLinkActive="active">
                System Status
            </a>
        </div>
    </div>
</header>