<div class="ui large secondary inverted pointing menu bg-primary-blue">
      <div class="right menu">
        <a class="active item" routerLink="home">
            Home
          </a>
          <a class="item" routerLink="request-access">
            Request Access
          </a>
          <a class="item" routerLink="connect">
            Connect to Data
          </a>
          <a class="item" routerLink="check-status">
            Check Request Status
          </a>
          <a class="item" routerLink="system-status">
            System Status
          </a>
      </div>

    </div>