<div class="ui large secondary inverted pointing menu bg-primary-blue">
      <div class="right menu text-primary-orange">
        <a class="item" routerLink="home" routerLinkActive="active">
            Home
          </a>
          <a class="item" routerLink="request-access" routerLinkActive="active">
            Request Access
          </a>
          <a class="item" routerLink="connect" routerLinkActive="active">
            Connect to Data
          </a>
          <a class="item" routerLink="check-status" routerLinkActive="active">
            Check Request Status
          </a>
          <a class="item" routerLink="system-status" routerLinkActive="active">
            System Status
          </a>
      </div>

    </div>